html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", "Arial", serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 130px;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  font-size: 0px;
}

.main-nav {
  padding: 76px 0px 102px;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.main-menu li {
  display: inline-block;
}

.main-menu li:not(:last-child) {
  margin-right: 114px;
}

.main-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
}

.main-menu a:hover,
.main-menu a:focus {
  color: #00bfff;
}

.main-info {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
}

.main-info:nth-child(2n) {
  margin-right: 0;
}

.images {
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 32px;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 300;
  color: #b4ad9e;
  font-size: 14px;
  text-transform: uppercase;
}

.title {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: 400;
}

.main-info p {
  font-size: 14px;
}

section:nth-last-of-type(-n + 2) {
  margin-bottom: 52px;
}

.load-more {
  display: block;
  padding: 0;
  margin: 0px auto 70px;
  width: 162px;
  height: 58px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #626262;
  border: 1px solid #626262;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
