html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", "Arial", serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  font-size: 0px;
}

/* SITE NAVIGATION  */

.main-nav {
  padding: 76px 0px 102px;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.main-menu li {
  display: inline-block;
}

.main-menu li:not(:last-child) {
  margin-right: 114px;
}

.main-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
  font-weight: 400;
}

.main-menu a:hover,
.main-menu a:focus {
  color: red;
}

/* SECTION */

.main-info {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
}

.main-info:nth-child(2n) {
  margin-right: 0;
}

.main-info p {
  font-size: 14px;
}

.subtitle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Ubuntu", "Arial", sans-serif;
  color: #b4ad9e;
  line-height: 33px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

.title {
  margin-bottom: 34px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

section:nth-last-of-type(-n + 2) {
  margin-bottom: 56px;
}

.button {
  margin: 0px;
  padding: 0px;
  width: 162px;
  height: 60px;
  color: #626262;
  cursor: pointer;
}

.load-more {
   display: block;
   margin: 0 auto;
   width: 162px;
   height: 58px;
   font-size: 20px;
   color: #626262;
   border: 1px solid #626262;
   background-color: transparent;
   cursor: pointer;
}
button {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

